.product-modal {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.product-modal article {
  margin: 0;
  padding: 2rem;
  border-radius: 8px;
}

.product-modal-header {
  display: flex;
  justify-content: space-between;
}

.product-modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  line-height: 1;
  width: fit-content;
  height: fit-content;
}

.product-info {
  margin-top: 1rem;
}

.description {
  color: #666;
  margin-bottom: 1rem;
}

.details {
  display: grid;
  gap: 0.5rem;
}
